.wave {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: end;
}

.wave img {
  width: 100vw;
  height: auto;
}

@media (min-width: 320px ) and (max-width: 768px) {
  .wave {
    position: relative;
    display: flex;
    bottom: 0;
    margin: 0;
    justify-content: end;
    align-items: end;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wave {
    position: relative;
    display: flex;
    bottom: 0;
    margin: 0;
    justify-content: end;
    align-items: end;
  }
}